<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Page</title>
    <link rel="icon" href="/img/weather.png">
</head>
<body>
    <% include ../partials/nav %>
    <h1><%= title %></h1>
    <h2>created by: <%=name%></h2>
    <img src="/img/img1.jpg" alt="photo here">
    <a href="/"><h3>Home</h3></a>
    <a href="/help"><h3>Help page</h3></a>
</body>
</html>