<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather</title>
    <link rel="stylesheet" href="../templates/public/css/style">
    <link rel="icon" href="/img/weather.png">
</head>
<body>

    <% include ../partials/nav %>
    <h1><%=title%></h1>
    <h2>Created by: <%=name%></h2>
    
</body>
</html>